root = true


[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

[*.{c,cpp,hpp,h}]
indent_size = 4

[meson.build]
indent_size = 4

[*.{scm,rkt}]
indent_size = 2

[*.nix]
indent_size = 2

[justfile]
indent_size = 4

[*.md]
trim_trailing_whitespace = false

[*.{json,code-workspace}]
indent_size = 2
